<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/15147/IdeaProjects/Selenium/src/test/java/day46"><classes><class name="day46.TestNGListenersDemo"><methods><include name="testLogo"/><include name="testURL"/><include name="testTitle"/></methods></class></classes></test></suite>